<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
+===========================================================================+
|	Demon - dAmn Emulator													|
|===========================================================================|
|	Copyright © 2008 Nol888													|
|===========================================================================|
|	This file is part of Demon.												|
|																			|
|	Demon is free software: you can redistribute it and/or modify			|
|	it under the terms of the GNU Affero General Public License as			|
|	published by the Free Software Foundation, either version 3 of the		|
|	License, or (at your option) any later version.							|
|																			|
|	This program is distributed in the hope that it will be useful,			|
|	but WITHOUT ANY WARRANTY; without even the implied warranty of			|
|	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the			|
|	GNU Affero General Public License for more details.						|
|																			|
|	You should have received a copy of the GNU Affero General Public License|
|	along with this program.  If not, see <http://www.gnu.org/licenses/>.	|
|																			|
|===========================================================================|
|	> $Date$
|	> $Revision$
|	> $Author$
+===========================================================================+
-->
<configuration>
	<!--
		The timestamp to put before all console output.
		Leave blank for no timestamp.

		For format see: http://msdn2.microsoft.com/en-us/library/8kb3ddd4.aspx	
	-->
	<timestamp value="[hh:mm:ss] " />

	<!--

		The IP and port to bind to.  If unsure, use 0.0.0.0 and port 3900
		to listen to all IP's.
		
	-->
	<bind ip="0.0.0.0" port="3900" />
	
	<!--

		The IP and port to bind to for authtoken and user creation.  If unsure, use 0.0.0.0 and port 3901
		to listen to all IP's.
		
	-->
	<bind-auc ip="0.0.0.0" port="3901" />

	<!--

		The maximum amount of users that can be connected to the server at one time.
		
		Seperate values for the authtoken and user creation daemon, and the main server.
		
	-->
	<connlimit main="200" auc="30" />

	<!--

	MySQL Configuration information.
	Pretty much explains itself.
	
	Host: Host to connect to.
	Port: Leave out to use the default.
	User: Username...
	Pass: Password!
	Database: Leave out to use the default.
	-->
	<mysql host="192.168.1.150" port="3066" user="demonserver" pass="pwMdZhFTUUG7ZWCJ" database="demonserver" />
</configuration>